

.home-intro {
  background-color: #e9d5bb;
  color: white;
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: center; }

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-top: 10px; }

li {
  transition: all .3s ease-in-out; }

.home-title {
  background-color: #bd904c;
  color: white;
  display: grid;
  grid-template-columns: 400px 400px 700px;
  grid-template-rows: 100px;
  line-height: 5px;
  padding-top: 20px;
  align-items: center; 
}

.home-imagen {
  justify-content: center;
  line-height: 0px;
  display: flex;
  margin-right: 200px; }

nav {
  background-color: #bd904c;
  color: white;
  transition: all .3s ease-in-out;  
  }


.nav-mov:hover {
  background-color: white;
  transform: translateX(50deg)
  }

.main-mov {
  transition: all .3s ease-in-out; }

.main-mov:hover {
  background-color: #725f52;
  transform: translateX(50deg); }

.main-p {
  text-align: center;
  color: rgba(210, 105, 30, 0.63); }

.carousel {
  display: block;
  height: auto;
  max-width: 50%;
  line-height: 1;
  width: 50%;
  margin: 0 auto;
  float: none; }

.quienesomos {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  margin: 0 auto;
  float: none; }

.influencers {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  position: absolute;
 }

@media screen and (max-width:768px) {
  .home-title {
    display: grid;
  grid-template-columns: 200px 300px 500px;
  }
  .home-imagen {
    margin-right: 250px; }
}  

@media screen and (max-width:1024px) {
  .home-title {
    display: grid;
  grid-template-columns: 300px 300px 600px;
  }
}  